useDynLib(MRPATH, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(Rdpack, reprompt)
import(ggplot2)
import(cowplot)
import(RColorBrewer)
import(stats)
import(reshape2)
importFrom(plotly, plot_ly)
importFrom(magrittr,"%>%")
